---
---

@import "{{ site.theme }}";



h1, h2, h3, h4, h5 {
    font-family: 'Avenir medium', Helvetica, sans-serif;
    color:  #7ef541;
}

p {
    font-family: 'Avenir book', Helvetica, sans-serif;
    color: white;
}

body {
    background: #2b2f3b;
}

strong {
    color: white;
    font-family: 'Avenir heavy', Helvetica, sans-serif;
}

details  {
    color: white;
}

.title_link {
  font-family: 'Avenir medium', Helvetica, sans-serif;
  font-size:28px;
  color:  #7ef541;
}

section {
  max-width:650px;
  padding: 30px 0px 50px 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0;
  margin-top: 70px;
}

/* Create two equal columns that floats next to each other */
.header_col {
  float: left;
  width: 50%;
  padding: 10px;
}

.search_col {
  float: right;
  width: 30%;
  padding: 10px;
}

/* Clear floats after the columns */
.header_row:after {
  content: "";
  display: table;
  clear: both;
}



#search-bar {
    // margin: 32px auto;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0 20px;
  
    & #search {
      width: calc(100% - 30px);
      border: none;
      line-height: 30px;
      outline: none;
      border-style: none;
    }
    & #search-result {
      display: none;
      position: absolute;
      top: 80px;
      width: calc(100% - 70px);
      max-height: 325px;
      overflow-y: auto;
      background-color: white;
      box-shadow: 0px 4px 8px 0 #ccc;
      z-index: 99999;
      & .result-item {
        display: block;
        padding: 8px 16px;
        text-decoration: none;
        & .title,
        .description {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        & .title {
          color: #f74094;
          padding-bottom: 4px;
          font-size: 16px;
        }
        & .description {
          color: #757575;
          font-size: 16px;
        }
      }
    }
  }